# Ignore large model files
inference/gpt_infrence/checkpoints/models--openai-community--gpt2/snapshots/607a30d783dfa663caf39e06633721c8d4cfcd7e/model.safetensors
inference/gpt_infrence/checkpoints/models/gpt2-small (124M)_model.pt
inference/gpt_infrence/checkpoints/models/gpt2-small (124M)_state_dict.pt
